body {
    background-color: bisque;
}

.tengah {
    text-align: center;
}

.font {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.warna {
    background-color: rgba(248, 245, 245, 0.226);
}