.border {
    border: 1px solid;
    padding: 2px;
    background-color: hwb(0 0% 98% / 0.521);
}

.mangkok {
    width: 1000px;
    margin: auto;
}

img {
    width: 200px;
}

.card {
    width: 300%;
    padding: block 30px;
    box-sizing: border-box;
}

.letak {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.arah {
    display: flex;
    margin-left: 450px;
    margin-top: -15px;
}

p::first-letter {
    color: red;
}

.tulisan {
    text-align: center;
    font-size: large;
}

.warna {
    color: rgba(255, 255, 255, 0.523);
}

li:hover {
    background-color: rgb(255, 255, 255);
    transition: .5s;
}

.display {
    display: inline-block;
    font-size: 20px rgb(0, 0, 0);
}