body {
    background-color: aqua;
}

img {
    width: 200px;
    height: 200px;
}


/*nav {
    margin-left: 50px;
}*/

.batas {
    margin-left: 500px;
    width: 300px;
}

.warna {
    background-color: burlywood;
    width: 300px;
}

#judul {
    margin-left: 550px;
}

.jadwal {
    margin-left: 500px;
}

#gambar {
    background-color: antiquewhite;
    width: 200px;
    margin-left: 550px;
}

.vidio {
    margin-left: 500px;
}

.inputNama {
    display: flex;
    padding-bottom: 700px;
    margin-left: 500px;
}